@charset "UTF-8";

/*########## VARIABLES ##########*/
:root {
	/* .5rem (5px) */
	--spacing-xs: .5;
	/* 1rem (10px) */
	--spacing-sm: 1;
	/* 1.5rem (15px) */
	--spacing-md: 1.5;
	/* 2rem (20px) */
	--spacing-lg: 2;
	--font-primary: "Montserrat", sans-serif;
	--font-title: "PlayfairDisplay", serif;
	--font-header: "BebasNeue";
	--color-primary: #172c2f;
	--color-secondary: #d0ae7d;
	--color-highlight: #8e440c;
	--color-whisper: #e6e6e6;
	--white: #fff;
	--black: #242424;
	--red: #c71b1b;
	--muted: #6e6e6e;
	--alt: #fdf4ed;
	--font-extra-small: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
	--font-small: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
	--font-medium: calc(24px + (28 - 24) * ((100vw - 300px) / (1600 - 300)));
	--font-large: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
	--font-extra-large: calc(55px + (65 - 55) * ((100vw - 300px) / (1600 - 300)));
}

@font-face {
	font-family: BebasNeue;
	src: url(../fonts/BebasNeue.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat.ttf);
}

@font-face {
	font-family: PlayfairDisplay;
	src: url(../fonts/PlayfairDisplay.ttf);
}

/* ############ DEFAULTS ############ */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	/* sets the value of 1rem to 10px for easy calculation */
	font-size: 62.5%;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	color: var(--black);
	font-size: var(--font-small);
	font-family: var(--font-primary);
	overflow-x: hidden;
}

h1 {
	font-size: 4rem;
	/* 40px */
}

h2 {
	font-size: 3.2rem;
	/* 32px */
}

h3 {
	font-size: 2.8rem;
	/* 28px */
}

h4 {
	font-size: 2.4rem;
	/* 24px */
}

h5 {
	font-size: 2rem;
	/* 20px */
}

p {
	letter-spacing: 0.15rem;
	margin-bottom: 1.5rem;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none;
	/* removes text decorations on links */
}

hr {
	margin: 1.5rem 0;
	min-height: 1px;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ddecef;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary);
}

::selection {
	color: var(--color-secondary);
	background-color: var(--color-primary);
}
