.modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	padding: 10rem 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	z-index: 50;
}

.modal.is-shown {
	display: block;
}

.modal__content {
	background-color: var(--white);
	border-radius: 0.5rem;
	margin: 0 auto;
	border-radius: 0.5rem;
}

.modal__content--lg {
	width: 100%;
	height: 100%;
}

.modal__content--md {
	width: 100%;
}

@media screen and (min-width: 576px) {
	.modal__content--md {
		width: 50rem;
	}
}

@media screen and (min-width: 768px) {
	.modal__content--md {
		width: 70rem;
	}
}

@media screen and (min-width: 992px) {
	.modal__content--md {
		width: 90rem;
	}
}

.modal__content--sm {
	width: 50rem;
}

.modal__slide {
	animation: fade 1s;
	padding: 1.5rem;
	height: 100%;
	width: 100%;
}

.modal__header {
	border-bottom: 1px solid var(--color-whisper);
}

.modal__header,
.modal__footer {
	font-size: var(--font-medium);
	text-align: right;
	padding: 1.5rem;
}

.modal__footer {
	border-top: 1px solid var(--color-whisper);
}

.modal__close {
	color: var(--color-whisper);
	transition: 0.3s ease;
}

.modal--prev,
.modal--next {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: var(--white);
	font-size: 3rem;
	cursor: pointer;
	transition: 0.2s;
}

.modal--prev:hover,
.modal--next:hover {
	background: #000;
	color: #fff !important;
}

.modal--next {
	right: 2.5rem;
}

.modal--prev {
	left: 2.5rem;
}

.modal--next:active,
.modal--prev:active {
	transform: translateY(-40%);
}

.modal__list {
	padding: 1.5rem;
}

.modal__list-item {
	text-align: justify;
	margin-top: 1rem;
	margin-left: 3rem;

}

@media screen and (min-width: 768px) {
	.modal__list {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media screen and (min-width: 992) {
	.modal__list-item {
		margin-left: 5rem;
	}
}
