@import '../../base/mixins';

@include respond-to(large) {

	/* hero */
	.hero {
		justify-content: flex-start;

		&__caption {
			flex: 0 0 50%;
			border-width: .5rem;
			text-align: left;
			margin-left: 3rem;
		}

		&__sub-header:nth-of-type(2)::after {
			top: 50%;
			left: 170px;
		}

		&__text {
			display: block;
		}
	}

	/* testimonials section */
	.testimonials {

		&__img-wrap {

			flex: 0 0 33.333337%;
		}

		&__author {
			text-align: left;
		}
	}

	/* testimonials section */
	.featured__item {
		flex: 0 0 50%;
		margin-top: 0;
	}

	/* testimonials section */
	.email-sec {

		&__content {
			flex: 0 0 33.333334%;
			flex-direction: column;
			margin-right: 4.5rem;
			margin-bottom: 0;
		}

		&__text {
			margin-bottom: 1.5rem;
		}

		&__form {
			flex: 0 0 50%;
		}
	}

}
