@import '../../base/mixins';

@include respond-to(medium) {

	/* benefits section */
	.benefits__item {
		flex: 0 0 33.333337%;
	}

	/* services section */
	.services {
		&__item {

			flex: 0 0 50%;

			&:nth-of-type(3) {
				order: 0;
			}
		}

		&__text {

			margin-bottom: 1.5rem;
		}
	}

	/* testimonials section */
	.testimonials {

		&__img {
			max-width: 18rem;
			max-height: 18rem;
		}

		&__text-wrap {
			flex: 0 0 58.333333%;
		}
	}

	/* quote section */
	.quote-sec {
		height: 40vh;
	}

	/* email section */
	.email-sec {
		&__content {
			flex: 0 0 66.666667%;
			padding: 0;
		}


		&__form {
			flex: 0 0 66.666667%;
			padding: 0;
		}
	}

}
