@import '../../base/mixins';

@include respond-to(small) {

	/* benefits section */
	.benefits__item {
		flex: 0 0 80%;

	}

	/* services section */
	.email-sec {
		&__text {
			flex: 0 0 50%;
		}

		&__img {
			display: block;
		}

	}
}
